.logo {
    height: 40px;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.btn-success {
    background-color: rgb(255, 219, 45);
    border-color: rgb(255, 219, 45);

}
.btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: red !important;
    border-color: red !important;
    box-shadow: 0 0 8px rgb(0, 0, 0) !important;    
}
.btn-primary {
    background-color: rgb(255, 219, 45);
    border-color: rgb(255, 219, 45);
}
.bg-dark {
background-color: #a9364f!important;
}